<% if @images.any? %>
<ul class="small-block-grid-3">
  <% @images.each do |image| %>
  <li>
    <p><%= image.name %></p>
    <%= link_to image_path(image) do %>
      <img><%= image_tag image.image.url(:medium) %></img>
    <% end %>
    <ul class="inline-list">
    <% if current_user != nil && current_user.id == image.user_id %>
      <li><%= link_to "Edit", edit_image_path(image) %></li>
      <li><%= link_to "Delete", image_path(image), method: :delete %></li>
    <% end %>
    <li><%= link_to "Comment", new_image_comment_path(image) %></li>
    </ul>
    <% if current_user != nil %>
      <%= link_to "Like", image_likes_path(image), class: 'likes-link' %>
      <span class="likes_count"> <%= image.likes.count %> </span> <%= 'Like'.pluralize(image.likes.count) %>
    <% end %>
    <h3>Comments for <%= image.name %></h3>

    <% if image.comments.any? %>
    <ul>
      <% image.comments.each do |comment| %>
      <li>
        <%= comment.thoughts %>
      </li>
      <% end %>
    </ul>
    <% else %>
    <p>No comments.</p>
    <% end %>
  </li>
  <% end %>
</ul>
<% else %>
<h1>No images yet</h1>
<% end %>