<% if user_signed_in? %>
  <a href="/images/new">Add an image</a>
<% end %>

<% if @images.any? %>
  <% @images.each do |image| %>
    <img><%= image_tag image.image.url(:thumb) %></img>
    <h2><%= link_to image.name, image_path(image) %></h2>
    <p><%= link_to "Edit #{image.name}", edit_image_path(image) %><p>
    <p><%= link_to "Delete #{image.name}", image_path(image), method: :delete %></p>
      <p><%= link_to "Comment on #{image.name}", new_image_comment_path(image) %></p>
    <h3>Comments for <%= image.name %></h3>

    <% if image.comments.any? %>
      <ul>
        <% image.comments.each do |comment| %>
          <li>
            <%= comment.thoughts %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No comments.</p>
    <% end %>
  <% end %>
<% else %>
  <h1>No images yet</h1>
<% end %>